{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Polar2GarminMobile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

{% block content %}
{% endblock %}
<div>
    <p>Polar Flow page : <a href="https://flow.polar.com"> https://flow.polar.com</a></p>
    <p>Garmin Connect import page : <a href="https://connect.garmin.com/modern/import-data">
        https://connect.garmin.com/modern/import-data</a></p>

</div>

<div class="footer">
    <p>Balazs Barcza 2023</p>
</div>
</body>
</html>